body {
	background:#CCC;
	margin:0;
}

#header {
	width:100%;
	height:35px;
	background:#111111;
	box-shadow:0 0 5px 0 #000;
	position:fixed;
	top:0px;
}

#subheader {
	margin:auto;
	height:100px;
}

#wrapper {
	margin:auto;
	width:700px;
	height:700px;
	background:#EFEFEF;
	box-shadow:0 0 10px 0 #000;
}