body {
	background: #222222;
	margin: 1px;
}
div.section {
	width: 224px;
	display: inline-block;
	background: #333333;
	color: #C0C0C0;
	vertical-align: top;
	border: 1px solid #000000;
	font: 12px Arial;
	margin: 1px 0px;
	padding: 0px 2px;
}